<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans 
    http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">
 
    <bean name="factory" class="org.st411ar.factory.Factory">
        <property name="dao" ref="jdbcDao"/>
    </bean>
 
    <bean name="hibernateDao" class="org.st411ar.dao.HibernateDAO">
    </bean>
 
    <bean name="jdbcDao" class="org.st411ar.dao.JdbcDAO">
    </bean>
 
</beans>